.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.task-done {
  text-decoration: line-through;
}
.task {
  font-weight: bold;
}
.btn-active {
  color: white;
  background-color: hotpink;
  border: 2px solid hotpink;
  border-radius: 3px;
}
.input-error {
  border: 3px solid red;
  outline: none;
}